@charset "UTF-8";

body{
    background-image: url("imagens/wallpaper001.jpg");
}

.quadrado{
    border: 2px solid black;
    width: 300px;
    height: 300px;
    display: inline-block;
    border-radius: 10px;
    background-color: lightgray;
}

#q1{
    background-color: aqua;

}

#q2{
    background-image: linear-gradient(to bottom, yellow,orange);

}

#q3{
    background-image: url("imagens/pattern001.png");

}