@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    margin: 0;
}

header{
    background-color: aliceblue;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}

nav{
    background-color: gray;
    padding: 5px;  
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
}

a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    margin-right: 30px;
}

a:hover{
    color: darkred;
}



#assuntos{
    background-color: aliceblue;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.442);
   
}

#noticias{
    background-color: aliceblue;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.442);
}

section >article{
    background-color: lightgray;
    border-radius: 10px
}

aside{
    background-color: gray;
    border-radius: 10px;
}

footer{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    
}

#bola{
    height: 60px;
    width: 60px;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 50%;
}